@model projet_clement.Models.HomeModel


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/Home/EditUser">Editer les utilisateurs</a><br />
        </div>
        <div class="col-md-3">
            <a href="/Home/EditPosts">Editer les articles</a><br />
        </div>
        <div class="col-md-3">
            <a href="/Home/CreationAuteur">Créer un nouvel auteur</a><br />
        </div>
        <div class="col-md-3">
            <a href="/Home/SupressionAuteur">Supprimer un auteur</a>
            <br />
        </div>
        
    </div>
</div>

